// Put your custom SCSS code here  {

html {
  height: 100%; // Ensure html covers the full document height
}

body {
  min-height: 100%; // Ensure body covers at least the full viewport, but can expand
  margin: 0; // Remove default margin
  position: relative; // Context for pseudo-element positioning
  overflow-x: hidden; // Prevent horizontal scrolling caused by the pseudo-element

  &::before {
    content: "";
    position: fixed; // Fixed position to cover the entire viewport and stay in place on scroll
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; // Cover the viewport height
    background: url("inverse_coldmountain@0.5x.jpg") no-repeat center 10%;
    background-size: cover;
    opacity: 0.08;
    z-index: -1;
  }
}

div.message {
  opacity: 0.4;
  padding-bottom: 54px;
  &.hidden {
    display: none;
  }

  h1.invitation {
    color: firebrick;
    @include keyframes(fadeIn) {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @include animate(fadeIn, 2s, ease-in, 1);
    display: inline !important;
    padding-inline-start: 2%;
  }

  h1.subject {
    display: inline !important;
  }
}

.tamline {
  h1.star {
    display: inline-flex !important;
    padding-inline-end: 5%;
  }
  h1.tam {
    display: inline-flex !important;
    color: firebrick;
  }

  @media (min-width: 960px) and (max-width: 991px) {
    h1.tam {
      padding-inline-end: 200px !important;
    }
  }
  @media (min-width: 850px) and (max-width: 959px) {
    h1.tam {
      padding-inline-end: 150px !important;
    }
  }
  @media (min-width: 750px) and (max-width: 849px) {
    h1.tam {
      padding-inline-end: 100px !important;
    }
  }
  @media (min-width: 400px) and (max-width: 749px) {
    h1.tam {
      padding-inline-end: 54px !important;
    }
  }
}

svg.icon.icon-tabler.icon-tabler-menu {
  display: none;
}

.site-description {
  columns: 2;
  break-inside: avoid;
}


  .blog-header {
    display: none;
  }
