// Put your custom SCSS code here  {
div.message {
  opacity: .2;
  padding-bottom: 54px;
  &.hidden {
    display: none;
  }

  h1.invitation {
    color: firebrick;
    @include keyframes(fadeIn) {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @include animate(fadeIn, 2s, ease-in, 1);
    display: inline !important;
    padding-inline-start: 2%;

  }

  h1.subject {
    display: inline !important;
  }
}

.tamline {
  h1.star {
    display: inline-flex !important;
    padding-inline-end: 5%;
  }
  h1.tam {
    display: inline-flex !important;
    color: firebrick;
  }
}

.site-description {
  columns: 2;
  break-inside: avoid;
}
